<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149333399846-3nlsn7ll9obdbvjnf9l2k743vrl66bho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149333399846-3nlsn7ll9obdbvjnf9l2k743vrl66bho</string>
	<key>API_KEY</key>
	<string>AIzaSyCdFzSvNXUn72Xcnm_zn_Wt-7u762S5YZY</string>
	<key>GCM_SENDER_ID</key>
	<string>149333399846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uygulamaDenemeEc</string>
	<key>PROJECT_ID</key>
	<string>yemek-uygulamasi-3858a</string>
	<key>STORAGE_BUCKET</key>
	<string>yemek-uygulamasi-3858a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149333399846:ios:946dd3b79e3b4bbe7c09e7</string>
</dict>
</plist>